[Unit]
Description=Meta-Tv tv1
After=sys-subsystem-net-devices-net0.device

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/tv/.Xauthority
User=tv
ExecStart=/home/tv/scripts/tv.sh 3
Restart=always
RestartSec=5

[Install]
WantedBy=custom.target
